{% extends 'layouts/base.html' %}

{% block content %}
    <h1>Утверждение компаний</h1>
    <form method="post">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <th>Имя компании</th>
                    <th>Статус</th>
                    <th>Действия</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companies %}
                    <tr>
                        <td>{{ company.company_name }}</td>
                        <td>
                            {% if company.is_approved %}
                                Утверждена
                            {% else %}
                                Не утверждена
                            {% endif %}
                        </td>
                        <td>
                            {% if not company.is_approved %}
                                <button type="submit" name="approve_{{ company.id }}">Утвердить</button>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>
{% endblock %}
