{% load static i18n %}
{% get_current_language as cur_lang %}
{% get_available_languages as tupl_lang %}

<!-- Navbar Area Start -->
<div class="navbar-area">
    <!-- Menu For Mobile Device -->
    <div class="mobile-nav">
        <a href="{% url 'main:home' %}" class="logo">
            <img src="{% static 'img/logo.png' %}" alt="logo">
        </a>
    </div>

    <!-- Menu For Desktop Device -->
    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="{% url 'main:home' %}">
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">{% trans 'Candidates' %}</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'users:candidate' %}" class="nav-link">{% trans 'Candidates' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'users:candidate-details' %}"
                                       class="nav-link">{% trans 'Candidates Details' %}</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'main:about' %}" class="nav-link">{% trans 'About' %}</a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">{% trans 'Jobs' %}</a>

                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'users:find-employee' %}"
                                       class="nav-link">{% trans 'Find An employee' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'users:post-job' %}" class="nav-link">{% trans 'Post A Job' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'users:job-list' %}" class="nav-link">{% trans 'Job List' %}</a>
                                </li>
                            </ul>
                        </li>

                        <!-- unused pages and links -->

{#                        <li class="nav-item">#}
{#                            <a href="#" class="nav-link dropdown-toggle">{% trans 'Pages' %}</a>#}
{#                            <ul class="dropdown-menu">#}
{#                                <li class="nav-item">#}
{#                                    <a href="company.html" class="nav-link">{% trans 'Company' %}</a>#}
{#                                </li>#}
{#                                <li class="nav-item">#}
{#                                    <a href="pricing.html" class="nav-link">{% trans 'Pricing' %}</a>#}
{#                                </li>#}
{##}
{#                                <li class="nav-item">#}
{#                                    <a href="faq.html" class="nav-link">{% trans 'FAQ' %}</a>#}
{#                                </li>#}
{#                                <li class="nav-item">#}
{#                                    <a href="#" class="nav-link">{% trans 'Categories' %}</a>#}
{#                                </li>#}
{#                                <li class="nav-item">#}
{#                                    <a href="privacy-policy.html" class="nav-link">{% trans 'Privacy & Policy' %}</a>#}
{#                                </li>#}
{#                                <li class="nav-item">#}
{#                                    <a href="terms-condition.html" class="nav-link">{% trans 'Terms & Conditions' %}</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </li>#}

                        <!-- unused pages and links end -->


                        <li class="nav-item">
                            <a href="{% url 'main:blog' %}" class="nav-link">{% trans 'Blog' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'main:contacts' %}" class="nav-link">{% trans 'Contact Us' %}</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">{% trans 'Profile' %}</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="{% url 'users:account' %}" class="nav-link">{% trans 'Account' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'users:resume' %}" class="nav-link">{% trans 'Resume' %}</a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'users:reset-password' %}"
                                       class="nav-link">{% trans 'Reset Password' %}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <div class="other-option">
                        <a href="{% url 'users:sign-up' %}" class="signup-btn">{% trans 'Sign Up' %}</a>
                        <a href="{% url 'users:sign-in' %}" class="signin-btn">{% trans 'Sign In' %}</a>
                    </div>
                </div>

                {# lang ul #}
                <ul class="navbar-nav m-auto">
                    <li class="nav-item langua">
                        <a href="#" class="nav-link dropdown-toggle">{{ cur_lang|upper }}</a>
                        <ul class="dropdown-menu">
                            {% for lan in tupl_lang %}
                                {% if lan.0 != cur_lang %}
                                    <!-- for hide selected languaage (current) -->
                                    <li class="nav-item">
                                        <a href="/{{ lan.0 }}/{{ request.path|slice:'4:' }}"
                                           class="nav-link">{{ lan.1|capfirst }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- Navbar Area End -->