{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}

    <!-- Page Title Start -->
    <section class="page-title title-bg15">
        <div class="d-table">
            <div class="d-table-cell">
                <h2>404</h2>
                <ul>
                    <li>
                        <a href="{% url 'main:home' %}">{% trans 'Home' %}</a>
                    </li>
                    <li>404</li>
                </ul>
            </div>
        </div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </section>
    <!-- Page Title End -->

    <!-- Error Section Start -->
    <div class="error-section ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="error-img">
                        <img src="{% static 'img/404.png' %}" alt="error image">
                        <div class="theme-btn text-center">
                            <a href="{% url 'main:home' %}" class="default-btn">{% trans 'Go To Home' %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Error Section End -->

    <!-- Subscribe Section Start -->
    <section class="subscribe-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>{% trans 'Get New Job Notifications' %}</h2>
                        <p>{% trans 'Subscribe & get all related jobs notification' %}</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required
                               autocomplete="off">

                        <button class="default-btn sub-btn" type="submit">
                            {% trans 'Subscribe' %}
                        </button>

                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe Section End -->
{% endblock %}