{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}


    <!-- Page Title Start -->
    <section class="page-title title-bg2">
        <div class="d-table">
            <div class="d-table-cell">
                <h2>{% trans 'Find an Employee' %}</h2>
                <ul>
                    <li>
                        <a href="{% url 'main:home' %}">{% trans 'Home' %}</a>
                    </li>
                    <li>{% trans 'Find an Employee' %}</li>
                </ul>
            </div>
        </div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </section>
    <!-- Page Title End -->

    <!-- Find Section Start -->
    <div class="find-section ptb-100">
        <div class="container">
            <form class="find-form mt-0">
                <div class="row">
                    <form action="">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">{% trans 'First Name' %}:</label>
                                <input type="text" class="form-control" value="{{ request.GET.search_name }}"
                                       name="search_name" id="exampleInputEmail1"
                                       placeholder="Sardor">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail2">{% trans 'Last Name' %}:</label>
                                <input type="text" class="form-control" value="{{ request.GET.search_surname }}"
                                       name="search_surname" id="exampleInputEmail2"
                                       placeholder="Alixonov">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <button type="submit" class="find-btn">
                                {% trans 'Find An Employee' %}
                                <i class='bx bx-search'></i>
                            </button>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
    <!-- Find Section End -->

    <!--agar employee qidirsa shuyoga list bb chiqadi -->

    <!-- Jobs Section Start -->
    <section class="job-section pb-70">
        <div class="container">
            <div class="section-title text-center">
                <h2>{% trans 'Jobs You May Be Interested In' %}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus</p>
            </div>

            <div class="row">

                {% for employee in object_list %}
                    <div class="col-md-6">
                        <div class="job-card">
                            <div class="row align-items-center">
                                <div class="col-lg-3">
                                    <div class="thumb-img">
                                        <a href="{% url 'jobs:employee-detail' pk=employee.pk %}">
                                            <img src="{% static 'img/company-logo/1.png' %}" alt="company logo">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="job-info">
                                        <h3>
                                            <a href="{% url 'jobs:employee-detail' pk=employee.pk %}">{{ employee.first_name }} {{ employee.last_name }}</a>
                                        </h3>
                                        <ul>
                                            <li>Via <a href="#">Euro Print</a></li>
                                            <li>
                                                <i class='bx bx-location-plus'></i>
                                                Wellesley Rd, Kokand
                                            </li>
                                            <li>
                                                <i class='bx bx-filter-alt'></i>
                                                Accountancy
                                            </li>
                                            <li>
                                                <i class='bx bx-briefcase'></i>
                                                Freelance
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="job-save">
                                        <span>Full Time</span>
                                        <a href="#">
                                            <i class='bx bx-heart'></i>
                                        </a>
                                        <p>
                                            <i class='bx bx-stopwatch'></i>
                                            1 Hr Ago
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <li>Нет результатов</li>
                {% endfor %}


            </div>
        </div>
    </section>
    <!-- Jobs Section End -->

    <!-- Job Category Section Start -->
    <div class="category-style-two pb-70">
        <div class="container">
            <div class="section-title">
                <h2>{% trans 'Popular Jobs Category' %}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus</p>
            </div>

            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'jobs:job-list' %}">
                        <div class="category-item">
                            <i class="flaticon-wrench-and-screwdriver-in-cross"></i>
                            <h3>{% trans 'Construction' %}</h3>
                            <p>6 {% trans 'new Job' %}</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'jobs:job-list' %}">
                        <div class="category-item">
                            <i class="flaticon-accounting"></i>
                            <h3>{% trans 'Finance' %}</h3>
                            <p>8 {% trans 'new Job' %}</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'jobs:job-list' %}">
                        <div class="category-item">
                            <i class="flaticon-heart"></i>
                            <h3>{% trans 'Healthcare' %}</h3>
                            <p>9 {% trans 'new Job' %}</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'jobs:job-list' %}">
                        <div class="category-item">
                            <i class="flaticon-computer-1"></i>
                            <h3>{% trans 'Graphic Design' %}</h3>
                            <p>6 {% trans 'new Job' %}</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'jobs:job-list' %}">
                        <div class="category-item">
                            <i class="flaticon-research"></i>
                            <h3>{% trans 'Banking Jobs' %}</h3>
                            <p>5 {% trans 'new Job' %}</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'jobs:job-list' %}">
                        <div class="category-item">
                            <i class="flaticon-worker"></i>
                            <h3>{% trans 'Automotive' %}</h3>
                            <p>12 {% trans 'new Job' %}</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <a href="{% url 'jobs:job-list' %}">
                        <div class="category-item">
                            <i class="flaticon-graduation-cap"></i>
                            <h3>{% trans 'Education' %}</h3>
                            <p>15 {% trans 'new Job' %}</p>
                        </div>
                    </a>
                </div>

                <div class="col-lg-3  col-sm-6">
                    <a href="{% url 'jobs:job-list' %}">
                        <div class="category-item">
                            <i class="flaticon-computer"></i>
                            <h3>{% trans 'Data Analysis' %}</h3>
                            <p>5 {% trans 'new Job' %}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Category Section End -->

    <!-- Subscribe Section Start -->
    <section class="subscribe-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>{% trans 'Get New Job Notifications' %}</h2>
                        <p>{% trans 'Subscribe & get all related jobs notification' %}</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required
                               autocomplete="off">

                        <button class="default-btn sub-btn" type="submit">
                            {% trans 'Subscribe' %}
                        </button>

                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe Section End -->


{% endblock %}