{% extends 'layouts/base.html' %}
{% load i18n %}
{% block content %}
        <!-- Page Title Start -->
        <section class="page-title title-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <h2>{% trans 'Post a Job' %}</h2>
                    <ul>
                        <li>
                            <a href="{% url 'main:home' %}">{% trans 'Home' %}</a>
                        </li>
                        <li>{% trans 'Post a Job' %}</li>
                    </ul>
                </div>
            </div>
            <div class="lines">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </section>
        <!-- Page Title End -->

        <!-- Post Job Section Start -->
        <div class="job-post ptb-100">
            <div class="container">
                <form class="job-post-from">
                    <h2>{% trans 'Fill Up Your Job information' %}</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% trans 'Job Title' %}</label>
                                <input type="text" class="form-control" id="exampleInput1" placeholder="Job Title or Keyword" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% trans 'Job Category' %}</label>
                                <select class="category">
                                    <option data-display="Category">{% trans 'Category' %}</option>
                                    <option value="1">Web Development</option>
                                    <option value="2">Graphics Design</option>
                                    <option value="4">Data Entry</option>
                                    <option value="5">Visual Editor</option>
                                    <option value="6">Office Assistant</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% trans 'Company Name' %}</label>
                                <input type="text" class="form-control" id="exampleInput2" placeholder="Company Name" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% trans 'Company Email' %}</label>
                                <input type="email" class="form-control" id="exampleInput3" placeholder="e.g. hello@company.com" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% trans 'Company Website (Optional)' %}</label>
                                <input type="text" class="form-control" id="exampleInput4" placeholder="e.g www.companyname.com">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% trans 'Location' %}</label>
                                <input type="text" class="form-control" id="exampleInput5" placeholder="e.g. London" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% trans 'Job Type' %}</label>
                                <select class="category">
                                    <option data-display="Job Type">{% trans 'Job Type' %}</option>
                                    <option value="1">{% trans 'Full Time' %}</option>
                                    <option value="2">{% trans 'Part Time' %}</option>
                                    <option value="4">{% trans 'Freelancer' %}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% trans 'Job Tags' %}</label>
                                <input type="text" class="form-control" id="exampleInput6" placeholder="e.g. web design, graphics design, video editing" required>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% trans 'Salary (Optional)' %}</label>
                                <input type="number" class="form-control" id="exampleInput7" placeholder="e.g. $20,000">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>{% trans 'Experience' %}</label>
                                <input type="text" class="form-control" id="exampleInput8" placeholder="e.g. 1 year" required>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">{% trans 'Job Description' %}</label>
                                <textarea class="form-control description-area" id="exampleFormControlTextarea1" rows="6" placeholder="Job Description" required></textarea>
                            </div>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="post-btn">
                                {% trans 'Post A Job' %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Post Job Section End -->
    
        <!-- Subscribe Section Start -->
        <section class="subscribe-section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="section-title">
                            <h2>{% trans 'Get New Job Notifications' %}</h2>
                            <p>{% trans 'Subscribe & get all related jobs notification' %}</p>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <form class="newsletter-form" data-toggle="validator">
                            <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required autocomplete="off">
    
                            <button class="default-btn sub-btn" type="submit">
                                {% trans 'Subscribe' %}
                            </button>
    
                            <div id="validator-newsletter" class="form-result"></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Subscribe Section End -->
{% endblock %}