{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
    <!-- Page Title Start -->
    <section class="page-title title-bg6">
        <div class="d-table">
            <div class="d-table-cell">
                <h2>{% trans 'Job Details' %}</h2>
                <ul>
                    <li>
                        <a href="{% url 'main:home' %}">{% trans 'Home' %}</a>
                    </li>
                    <li>{% trans 'Job Details' %}</li>
                </ul>
            </div>
        </div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </section>
    <!-- Page Title End -->

    <!-- Job Details Section Start -->
    <section class="job-details ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="job-details-text">
                                <div class="job-card">
                                    <div class="row align-items-center">
                                        <div class="col-md-2">
                                            <div class="company-logo">
                                                <img src="{% static 'img/company-logo/1.png' %}" alt="logo">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="job-info">
                                                <h3>{% trans 'Web Designer, Graphic Designer, UI/UX Designer' %}</h3>{{ company.company_name }}
                                                <ul>
                                                    <li>
                                                        <i class='bx bx-location-plus'></i>
                                                        {% trans 'A.T. Khukandi 130 B, Kokand' %}
                                                    </li>
                                                    <li>
                                                        <i class='bx bx-filter-alt'></i>
                                                        {% trans 'Sales Manager' %}
                                                    </li>
                                                    <li>
                                                        <i class='bx bx-briefcase'></i>
                                                        {% trans 'Offline' %}
                                                    </li>
                                                </ul>

                                                <span>
                                                        <i class='bx bx-paper-plane'></i>
                                                        {% trans 'Apply Before: September 01,2023' %}
                                                    </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="details-text">
                                    <h3>{% trans 'Description' %}</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book. It has survived not only five centuries,but also the leap into essentially
                                        unchanged.</p>

                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form, by injected humour, or randomised words
                                        which don't look even slightly believable.</p>
                                </div>

                                <div class="details-text">
                                    <h3>{% trans 'Requirements' %}</h3>
                                    <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book.</p>

                                    <ul>
                                        <li>
                                            <i class='bx bx-check'></i>
                                            {% trans 'Work experience' %}
                                        </li>
                                        <li>
                                            <i class='bx bx-check'></i>
                                            {% trans 'Skills (soft skills and/or technical skills)' %}
                                        </li>
                                        <li>
                                            <i class='bx bx-check'></i>
                                            {% trans 'Personal qualities and attributes.' %}
                                        </li>
                                        <li>
                                            <i class='bx bx-check'></i>
                                            {% trans 'Support software roll-outs to production.' %}
                                        </li>
                                        <li>
                                            <i class='bx bx-check'></i>
                                            {% trans 'Guide and mentor junior engineers. Serve as team lead if appropriate.' %}

                                        </li>
                                    </ul>
                                </div>

                                <div class="details-text">
                                    <h3>{% trans 'Job Details' %}</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td><span>{% trans 'Company' %}</span></td>
                                                    <td>&nbsp {% trans 'Euro Print' %}</td>
                                                </tr>
                                                <tr>
                                                    <td><span>{% trans 'Location' %}</span></td>
                                                    <td>&nbsp {% trans 'A.T. Khukandi 130 B, Kokand' %}</td>
                                                </tr>
                                                <tr>
                                                    <td><span>{% trans 'Job Type' %}</span></td>
                                                    <td>&nbsp {% trans 'Full Time' %}</td>
                                                </tr>
                                                <tr>
                                                    <td><span>{% trans 'Email' %}</span></td>
                                                    <td><a href="mailto:hello@company.com">&nbsp hello@company.com</a>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <table class="table">
                                                <tbody>
                                                <tr>
                                                    <td><span>{% trans 'Experince' %}</span></td>
                                                    <td>&nbsp 2 {% trans 'Years' %}</td>
                                                </tr>
                                                <tr>
                                                    <td><span>{% trans 'Language' %}</span></td>
                                                    <td>&nbsp {% trans 'Uzbek - Russian' %}</td>
                                                </tr>
                                                <tr>
                                                    <td><span>{% trans 'Salary' %}</span></td>
                                                    <td>&nbsp $10,000</td>
                                                </tr>
                                                <tr>
                                                    <td><span>{% trans 'Website' %}</span></td>
                                                    <td><a href="#">&nbsp www.europrint.uz</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="theme-btn">
                                    <a href="#" class="default-btn">
                                        {% trans 'Apply Now' %}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="job-sidebar">
                        <h3>{% trans 'Posted By' %}</h3>
                        <div class="posted-by">
                            <img src="{% static 'img/client-1.png' %}" alt="client image">
                            <h4>{{ object.hr_first_name }} {{ object.hr_hr_last_name }} {{ object.hr_third_name }}</h4>
                            <span>{{ object.hr_position }}</span>
                        </div>
                    </div>

                    <div class="job-sidebar">
                        <h3>{% trans 'Location' %}</h3>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1153.4529820786845!2d69.25952922090532!3d41.351971701327905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8d1406e2aaa9%3A0x7a67651caff6f05c!2zQWxmYSBLYXJ0b24gU2F2ZG8gLSDQkdGD0LzQsNCz0LAg0Lgg0LrQsNGA0YLQvtC9INCyINCw0YHRgdC-0YDRgtC40LzQtdC90YLQtQ!5e0!3m2!1sru!2s!4v1699350988108!5m2!1sru!2s"
                                {# loading="lazy" #} frameborder="0"
                        ></iframe>
                    </div>

                    <div class="job-sidebar">
                        <h3>{% trans 'Keywords' %}</h3>
                        <ul>
                            <li>
                                <a href="#">1C</a>
                            </li>
                        </ul>
                    </div>

                    <div class="job-sidebar social-share">
                        <h3>{% trans 'Share In' %}</h3>
                        <ul>
                            <li>
                                <a href="https://t.me/share/url?url=http://127.0.0.1:8000{{ request.get_full_path }}" target="_blank">
                                    <i class="bx bxl-telegram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Job Details Section End -->

    <!-- Job Section End -->
    <section class="job-style-two pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center">
                <h2>{% trans 'Jobs You May Be Interested In' %}</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida</p>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="job-card-two">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <div class="company-logo">
                                    <a href="company-details.html">
                                        <img src="{% static 'img/company-logo/1.png' %}" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="job-info">
                                    <h3>
                                        <a href="#">{{ object.company_name }} </a>
                                    </h3>
                                    <ul>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            Graphics Designer
                                        </li>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            $35000-$38000
                                        </li>
                                        <li>
                                            <i class='bx bx-location-plus'></i>
                                            Wellesley Rd, London
                                        </li>
                                        <li>
                                            <i class='bx bx-stopwatch'></i>
                                            9 days ago
                                        </li>
                                    </ul>

                                    <span>Full Time</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-btn text-end">
                                    <a href="#" class="default-btn">
                                        Browse Job
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="job-card-two">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <div class="company-logo">
                                    <a href="company-details.html">
                                        <img src="{% static 'img/company-logo/2.png' %}" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="job-info">
                                    <h3>
                                        <a href="#">Website Developer & Software Developer</a>
                                    </h3>
                                    <ul>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            Web Developer
                                        </li>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            $3000-$8000
                                        </li>
                                        <li>
                                            <i class='bx bx-location-plus'></i>
                                            Garden Road, UK
                                        </li>
                                        <li>
                                            <i class='bx bx-stopwatch'></i>
                                            5 days ago
                                        </li>
                                    </ul>

                                    <span>Full Time</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-btn text-end">
                                    <a href="#" class="default-btn">
                                        Browse Job
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="job-card-two">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <div class="company-logo">
                                    <a href="company-details.html">
                                        <img src="{% static 'img/company-logo/3.png' %}" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="job-info">
                                    <h3>
                                        <a href="#">Application Developer & Web Designer</a>
                                    </h3>
                                    <ul>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            App Developer
                                        </li>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            $3000-$4000
                                        </li>
                                        <li>
                                            <i class='bx bx-location-plus'></i>
                                            State City, USA
                                        </li>
                                        <li>
                                            <i class='bx bx-stopwatch'></i>
                                            8 days ago
                                        </li>
                                    </ul>

                                    <span>Part-Time</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-btn text-end">
                                    <a href="#" class="default-btn">
                                        Browse Job
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="job-card-two">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <div class="company-logo">
                                    <a href="company-details.html">
                                        <img src="{% static 'img/company-logo/4.png' %}" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="job-info">
                                    <h3>
                                        <a href="#">Frontend & Backend Developer</a>
                                    </h3>
                                    <ul>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            Web Developer
                                        </li>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            $5000-$8000
                                        </li>
                                        <li>
                                            <i class='bx bx-location-plus'></i>
                                            Drive Post NY 676
                                        </li>
                                        <li>
                                            <i class='bx bx-stopwatch'></i>
                                            1 days ago
                                        </li>
                                    </ul>

                                    <span>Full Time</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-btn text-end">
                                    <a href="#" class="default-btn">
                                        Browse Job
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="job-card-two">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <div class="company-logo">
                                    <a href="company-details.html">
                                        <img src="{% static 'img/company-logo/5.png' %}" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="job-info">
                                    <h3>
                                        <a href="#">IT Department & Manager</a>
                                    </h3>
                                    <ul>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            Manager
                                        </li>
                                        <li>
                                            <i class='bx bx-briefcase'></i>
                                            $35000-$38000
                                        </li>
                                        <li>
                                            <i class='bx bx-location-plus'></i>
                                            Wellesley Rd, Kokand
                                        </li>
                                        <li>
                                            <i class='bx bx-stopwatch'></i>
                                            7 days ago
                                        </li>
                                    </ul>

                                    <span>Full Time</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-btn text-end">
                                    <a href="#" class="default-btn">
                                        Browse Job
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Job Section End -->

    <!-- Subscribe Section Start -->
    <section class="subscribe-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>{% trans 'Get New Job Notifications' %}</h2>
                        <p>{% trans 'Subscribe & get all related jobs notification' %}</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required
                               autocomplete="off">

                        <button class="default-btn sub-btn" type="submit">
                            {% trans 'Subscribe' %}
                        </button>

                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe Section End -->

{% endblock %}