{% extends 'layouts/base.html' %}
{% load static i18n %}

{% block content %}
    <!-- Page Title Start -->
    <section class="page-title title-bg8">
        <div class="d-table">
            <div class="d-table-cell">
                <h2>{% trans 'Candidates Details' %}</h2>
                <ul>
                    <li>
                        <a href="{% url 'main:home' %}">{% trans 'Home' %}</a>
                    </li>
                    <li>{% trans 'Candidates Details' %}</li>
                </ul>
            </div>
        </div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </section>
    <!-- Page Title End -->

    <!-- Candidate Details Start -->
    <section class="candidate-details pt-100 pb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="candidate-profile">
                        <img src="{% static 'img/client-1.png' %}" alt="candidate image">
                        <h3>{{ object.first_name }} {{ object.last_name }}</h3>
                        <p>{% trans 'Manager' %}</p>

                        <ul>
                            <li>
                                <a href="tel:{{ object.phone_number }}">
                                    <i class='bx bxs-phone'></i>
                                    {{ object.phone_number }}
                                </a>
                            </li>
                            <li>
                                <a href="mailto:john@gmail.com">
                                    <i class='bx bxs-location-plus'></i>
                                    john@gmail.com
                                </a>
                            </li>
                        </ul>

                        <div class="candidate-social">
                            <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                            <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                            <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="candidate-info-text">
                        <h3>{% trans 'About Me' %}</h3>
                        {% if not request.user.is_authenticated %}
                            <p>SOME TEXT WICH WE WILL BLUR</p>
                            <p><a href="{% url 'users:register' %}">Login & subscribe to unlock</a></p>
                        {% else %}
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has
                                been the industry's standard dummy text ever since the 1500s, when an unknown printer
                                took a
                                galley of type and scrambled it to make a type specimen book. It has survived not only
                                five
                                centuries, but also the leap into electronic typesetting, remaining essentially
                                unchanged.</p>
                        {% endif %}
                    </div>

                    <div class="candidate-info-text candidate-education">

                        <h3>{% trans 'Education' %}</h3>

                        <div class="education-info">
                            <h4>{% trans 'School' %}</h4>
                            <p>{% trans 'Amherst School, Uzbekistan' %}</p>
                            <span>2000-2010</span>
                        </div>

                        <div class="education-info">
                            <h4>{% trans 'College' %}</h4>
                            <p>{% trans 'Swarthmore College, Uzbekistan' %}</p>
                            <span>2010-2012</span>
                        </div>

                        <div class="education-info">
                            <h4>{% trans 'University' %}</h4>
                            <p>{% trans 'Princeton University, Uzbekistan' %}</p>
                            <span>2012-2016</span>
                        </div>
                    </div>

                    <div class="candidate-info-text candidate-experience">
                        <h3>{% trans 'Experience' %}</h3>

                        <ul>
                            <li>{% trans 'Proficient in HTML, CSS, Server-Scripting, C/C++, and Oracle' %}</li>
                            <li>{% trans 'Experience with SEO' %}</li>
                            <li>{% trans 'Experience Teaching Web Development' %}</li>
                            <li>{% trans 'Knowledgeable in Online Advertising' %}</li>
                            <li>{% trans 'Expert in LAMP Web Service Stacks' %}</li>
                        </ul>
                    </div>

                    <div class="candidate-info-text candidate-experience">
                        <div class="col-lg-12">
                            <div class="job-card-two">
                                <h3>Qayoda ishlaganlari</h3>
                                {#                                {% if comments %}#}
                                <div class="row mt-5">
                                    <div class="col-lg-6 offset-lg-3">
                                        Comment{{ comments.count|pluralize }}
                                        <span class="badge bg-warning ml-2">{{ comments.count }}</span>
                                    </div>
                                    {% for comment in comments %}
                                        <div class="row align-items-center">
                                            <div class="col-md-2">
                                                <div class="company-logo d-flex justify-content-center align-content-center">
                                                    <a href="{% url 'jobs:job-detail' %}">
                                                        <img src="{% static 'img/company-logo/1.png' %}" alt="logo">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-md-8">

                                                <div class="job-info">
                                                    <h3>
                                                        <a href="{% url 'jobs:job-detail' %}">{{ comment.user.company_name }}</a>
                                                    </h3>

                                                    <ul>
                                                        <li>
                                                            <i class='bx bx-briefcase'></i>
                                                            {% trans 'Position' %} - {{ comment.position }}
                                                        </li>

                                                        <li>
                                                            <i class='bx bx-location-plus'></i>
                                                            {% trans 'Location' %} - Wellesley Rd, Uzbekistan !!!
                                                        </li>
                                                        <li>
                                                            <i class='bx bx-stopwatch'></i>
                                                            {% trans 'Period of Employment' %}
                                                            - ({{ comment.employ_from|date:"d-m-Y" }}
                                                            - {{ comment.employ_to|date:"d-m-y" }})
                                                        </li>
                                                        <li>
                                                            <p class="m-1 mt-3">{{ comment.content }}</p>
                                                        </li>
                                                        <p class="text-right text-muted">
                                                            <small>{{ comment.created }}</small>
                                                        </p>
                                                    </ul>


                                                </div>
                                            </div>
                                        </div>
                                    {% empty %}
                                        <p>There are no comments.</p>
                                    {% endfor %}



                                </div>
                                {#                                {% endif %}#}
                            </div>
                        </div>
                    </div>

                    <div class="candidate-info-text text-center">
                        {# COMMENT STARTS #}
                        <div class="container-fluid my-5">
                            <!-- Form to leave comment -->
                            <div class="row mt-5">
                                <div class="col-lg-12">
                                    {% if request.user.is_authenticated %}
                                        {% include 'jobs/includes/comment_form.html' %}
{#                                        <h3>Leave a Comment</h3>#}
{##}
{#
                                    {% else %}
                                        <h3>AGAR BU ISHCHINI SIZDA ISHLAGANI TOGRISIDA MALUMOT BERMOQCHI BOLSANGIZ, <a
                                                href="{% url 'users:login' %}">TIZIMGA KIRING</a></h3>
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                        {# COMMENT ENDS #}


                        <div class="theme-btn">
                            <a href="#" class="default-btn">{% trans 'Hire Me' %}</a>
                            <a href="#" class="default-btn">{% trans 'Download CV' %}</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- Candidate Details End -->



    <!-- Subscribe Section Start -->
    <section class="subscribe-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>{% trans 'Get New Job Notifications' %}</h2>
                        <p>{% trans 'Subscribe & get all related jobs notification' %}</p>
                    </div>
                </div>

                <div class="col-md-6">
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Enter your email" name="EMAIL" required
                               autocomplete="off">

                        <button class="default-btn sub-btn" type="submit">
                            {% trans 'Subscribe' %}
                        </button>

                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Subscribe Section End -->
{% endblock %}